<section class="section section-sm mt-n3 mb-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card">
          <div class="card-body">
            <h3 class="h4 card-title">Stay in the loop 📨</h3>
            <p class="card-text text-secondary">Receive updates on new features</p>
            <form class="d-flex flex-column flex-md-row mb-2" 
              action="https://buttondown.email/api/emails/embed-subscribe/cssui"
              method="post"
              target="popupwindow"
              onsubmit="window.open('https://buttondown.email/cssui', 'popupwindow')" name="newsletter"><input type="hidden"
              name="form-name" value="newsletter">

              <div class="col-md-12 mb-2 mb-xl-0 me-md-2">
                <input name="name" type="text" class="form-control visually-hidden" placeholder="your name" aria-label="Name">
                <input name="email" type="email" id="bd-email" class="form-control" placeholder="your@email.com" aria-label="Email address" required="">
                <input name="page" type="hidden" value="https://getdoks.org/">
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary w-100" aria-label="Subscribe">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>