.comment-list {
  @extend .list-unstyled;
}

.comment-list ol {
  list-style: none;
}

.comment-form p {
  @extend .form-group !optional;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}

.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-secondary;
}

blockquote {
  margin-bottom: 1rem;
  border-left: 3px solid $primary;
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  border-right: 1px solid $gray-300;
  border-radius: 4px;
  padding: 1rem 1rem 0;
}
