/*

Based on Ascetic by (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  background: $gray-900;
  color: $body-color-light;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-symbol,
.hljs-bullet,
.hljs-section,
.hljs-addition,
.hljs-attribute,
.hljs-link {
  color: $pink-500;
}

.hljs-comment,
.hljs-quote,
.hljs-meta,
.hljs-deletion {
  color: #888;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-name,
.hljs-type,
.hljs-strong {
  font-weight: 700;
}

.hljs-emphasis {
  font-style: italic;
}

.home .hljs {
  padding-left: 2.5rem;
}

.home .hljs::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  content: '~';
  color: green;
}
